.portfolio {
    position: relative;
    padding-bottom: 100px; 
}

.progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 10;
}

.progressBar {
    height: 10px;
    background-color: white;
    width: 100%; 
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 20px; 
    box-sizing: border-box; 
}

.portfolio-container img {
    flex: 1;
    width: 100%;
    height: 400px; 
    object-fit: cover;
    max-height: 500px; 
    border-radius: 10px; 
}

.portfolio-wrapper {
    max-width: 1366px;
    width: 100%; 
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between; 
    margin-top: 50px;
}

.portfolio-wrapper .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-wrapper .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px; 
    box-sizing: border-box;
}

.textContainer h2 {
    font-size: 56px; 
    margin-bottom: 20px;
}

.textContainer p {
    color: gray;
    font-size: 20px;
    line-height: 1.5; 
}

.textContainer button {
    background-color: orange;
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 10px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.textContainer button:hover {
    background-color: darkorange; 
}
