.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.navbar-wrapper {
    max-width:1366px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    height : 100%; 
}

.navbar-wrapper span {
    font-weight : bold;
}