.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.navbar-wrapper {
    max-width:1366px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    height : 100%; 
}

.navbar-wrapper span {
    font-weight : bold;
    margin-left : 20px;
}

@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}